# Node/Yarn
node_modules/
**/node_modules/
packages/**/dist/
*.log
.DS_Store
.cache/
.turbo/
.pnp.*
.yarn/cache/

# Keep these Yarn files (override the line above)
!.yarn/releases/**
!.yarn/plugins/**
!.yarn/sdks/**
!.yarn/install-state.gz

# Env
.env
.env.*

# Terraform (local state & working dir)
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.*
infra/crash.log
